@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-straight/css/uicons-thin-straight.css");

:root {
  --primary-color: rgb(64, 131, 255);
}

body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: rgb(68, 68, 68);
  color: white;
  padding: 1rem;
}

.content {
  width: 40vw;
  margin: auto;
  border: 2px solid gray;
  border-radius: 5px;
  margin-top: 20vh;
  background-color: white;
}

.name {
  font-size: 3.5rem;
}

.modal-container {
  margin: 0;
  position: absolute;
  top: 18vh;
  left: 30%;
  z-index: 2;
  box-shadow: none;
  background-color: white;
}

.modal-content {
  overflow: auto;
  height: calc(100% - 7vh);
}

.about,
.skills,
.contact {
  margin: 4rem;
  background-color: white;
}

.projects {
  margin: 2rem;
  background-color: white;
}

.about-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.about-info {
  font-size: 1.3rem;
}

.about-img {
  max-width: 10vw;
  border-radius: 100%;
}

.contact-info {
  border: 2px dashed gray;
  border-radius: 8px;
}

.icon:hover {
  color: var(--primary-color);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 1200px) {
  .content {
    width: 60vw;
  }

  .modal-content {
    height: calc(100% - 7vh);
  }

  .modal-container {
    width: 70vw !important;
    left: 15%;
  }

  .about-img {
    max-width: 18vw;
  }
}

@media (max-width: 992px) {
  .content {
    width: 70vw;
  }

  .modal-content {
    height: calc(100% - 7vh);
  }

  .modal-container {
    width: 80vw !important;
    left: 10%;
  }

  .about,
  .skills,
  .contact,
  .projects {
    margin: 2rem;
  }

  .about-img {
    max-width: 20vw;
  }
}

@media (max-width: 768px) {
  .content {
    width: 75vw;
  }

  .modal-content {
    height: calc(100% - 7vh);
  }

  .modal-container {
    width: 85vw !important;
    left: 10%;
  }

  .about,
  .skills,
  .contact,
  .projects {
    margin: 2rem;
  }

  .about-img {
    max-width: 30vw;
  }
}

@media (max-width: 576px) {
  .content {
    width: 100%;
    border: 0;
    margin-top: 0;
    box-shadow: none;
  }

  .icons {
    flex-wrap: wrap;
  }

  .icon {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 0.5rem rgb(214, 214, 214);
  }

  .modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 2;
  }

  .modal-content {
    width: 100% !important;
  }

  .about,
  .skills,
  .contact {
    margin: 2rem;
  }

  .projects {
    margin: 0;
  }

  .about-img {
    max-width: 50vw;
  }
}
